<!-- search.html -->
<html> 
    <head> 
        <title>Ticket</title> 
        <style> 
            body { 
                text-align:center; 
            } 
            h1 { 
                color:green; 
            } 
        </style> 
    </head> 
    <body> 
        <h1>Ticket</h1>
		<form
            <br>
			From {{source}} To {{d}} via {{b}} takes {{a}} Rupees
			<br>
			<br>
			{{mode}} charges {{c}} Rupees
			<br>
			<br>
			{{d}} to {{destination}} via {{f}} take {{e}} Rupees
			<br>
			<br>
			Total Price {{p}}
        </form> 
    </body> 
</html>